.App {
  text-align: center;
}
.solid-green-btn {
  background-color: #006837 !important;
  border-color: #006837 !important;
  outline: none;
}
.solid-green-btn:hover {
  background-color: #fff !important;
  border-color: #006837 !important;
  color: #006837 !important;
  outline: none;
}

.hollow-green-btn {
  background-color: #fff !important;
  color: #006837 !important;
  border-color: #006837 !important;
  outline: none;
}
.hollow-green-btn:hover {
  background-color: #006837 !important;
  border-color: #006837 !important;
  color: #fff !important;
  outline: none;
}
.search-bar {
  width: 320px;
  height: 40px;
  padding: 10px;
}
.search-green-btn {
  border-radius: 0 !important;
  background-color: #006837 !important;
  color: #fff !important;
  border: none !important;
  width: 100px;
  height: 40px;
  outline: none;
}
.search-bar:focus {
  outline: none;
}
.search-box {
  display: flex;
  align-items: start !important;
  justify-content: center !important;
  text-align: start;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .search-bar {
    width: 100%;
  }
  .search-green-btn {
    width: 50%;
  }
  .search-box {
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
  }
}
@media (max-width: 499px) {
  .searched-items {
    display: none;
  }
}

.searched-item {
  border-radius: 15px;
  background-color: #b3ffc8;
  color: #006837;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  font-size: 12px;
  transition: 0.3s all;
  font-weight: bold;
}

.searched-item:hover {
  border-radius: 15px;
  background-color: #b3ffc8;
  color: #006837;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
.category-card {
  box-shadow: 0px 4px 8px rgba(31, 29, 33, 0.3);
  border-radius: 8px;
}
.chevron-icon-small {
  height: 12px;
  margin-bottom: 3px;
  transition: 0.3s all;
}
.explore-text:hover .chevron-icon-small {
  
  margin-left: 3px;
}
.chevron-icon-small:hover {
  margin-left: 3px;
}
