* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  text-align: center;
}
.nav-light {
  background-color: #fff !important;
}
.solid-green-btn {
  background-color: #006837 !important;
  border-color: #006837 !important;
  outline: none;
}
.solid-green-btn:hover {
  background-color: #fff !important;
  border-color: #006837 !important;
  color: #006837 !important;
  outline: none;
}
a {
  color: #737373 !important;
}

.hollow-green-btn {
  background-color: #fff !important;
  color: #006837 !important;
  border-color: #006837 !important;
  outline: none;
}
.hollow-green-btn:hover {
  background-color: #006837 !important;
  border-color: #006837 !important;
  color: #fff !important;
  outline: none;
}
.search-bar {
  width: 320px;
  height: 40px;
  padding: 10px;
}
.search-green-btn {
  border-radius: 0 !important;
  background-color: #006837 !important;
  color: #fff !important;
  border: none !important;
  width: 100px;
  height: 40px;
  outline: none;
}
.search-bar:focus {
  outline: none;
}
.search-box {
  display: flex;
  align-items: start !important;
  justify-content: center !important;
  text-align: start;
  flex-direction: column;
}

.searched-item {
  border-radius: 15px;
  background-color: #b3ffc8;
  color: #006837;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  font-size: 12px;
  transition: 0.3s all;
  font-weight: bold;
}

.searched-item:hover {
  border-radius: 15px;
  background-color: #b3ffc8;
  color: #006837;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
.category-card {
  box-shadow: 0px 4px 8px rgba(31, 29, 33, 0.3);
  border-radius: 8px;
}
.chevron-icon-small {
  height: 12px;
  margin-bottom: 3px;
  transition: 0.3s all;
}
.explore-text:hover .chevron-icon-small {
  margin-left: 3px;
}
.chevron-icon-small:hover {
  margin-left: 3px;
}
.vh-md-100 {
  height: 100vh !important;
}
.section-heading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.dark-section {
  background-color: #006837;
}
.login-image-container {
  border-right: 1px solid rgba(31, 29, 33, 0.1);
}
.pakwork-background-green {
  background-image: url("./assets/signup_background_green.svg");
  background-size: cover;
  background-position: right top;
  background-color: #023430;
  overflow-y: scroll;
}
.pakwork-background-blue {
  background-image: url("./assets/signup_background_blue.svg");
  background-size: cover;
  background-position: right top;
  background-color: #192a56;
  overflow-y: scroll;
}
.pakwork-background-red {
  background-image: url("./assets/signup_background_red.svg");
  background-size: cover;
  background-position: right top;
  background-color: #016e80;
  overflow-y: scroll;
}
.react-tel-input .form-control {
  width: 100% !important;
}
.blue-text {
  color: #192a56 !important;
}
.blue-btn {
  background-color: #192a56 !important;
  outline: none !important;
  border: 0 !important;
}
.red-text {
  color: #1c8292 !important;
}
.red-btn {
  background-color: #1c8292 !important;
  outline: none !important;
  border: 0 !important;
}
.uploadIcon {
  position: absolute;
  right: 30%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1%;
  border-radius: 50%;
  font-size: 28px;
  cursor: pointer;
}
.navlink {
  text-decoration: none !important;
  transition: all 0.3s ease-in;
}
.navlink:hover {
  color: #006837 !important;
  border-bottom: 1px solid #006837 !important;
}
.navlink-btn {
  text-decoration: none !important;
  transition: all 0.3s ease-in;
}
.navlink-btn:hover {
  color: #006837 !important;
}
.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #b6b2b2;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}
.line-divider {
  margin-top: 10px;
  font: 150% "Open Sans", Arial, sans-serif;
  color: #999;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

.line-divider:before {
  content: "";
  display: block;
  border-top: solid 2px #999;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 17px;
  z-index: 1;
}

.line-divider .span-line-divider {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 5;
}
.tip-box {
  background-color: #cfe2ff;
  padding: 1%;
  border-radius: 2%;
  color: #192a56;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important;
  align-self: baseline;
}
.seller-mini-banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.seller-mini-banner img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.seller-mini-banner .username {
  font-weight: bold;
  padding: 1%;
  padding-bottom: 1%;
}
.seller-mini-banner .level {
  font-weight: 500;
  background-color: purple;
  color: white;
  border-radius: 5px;
  padding: 0.4%;
  width: 120px;
  text-align: center;
}
.gig-price-container {
  margin-top: 30%;
  min-height: 370px;
  width: 100%;
  border: 1px solid #ccc;
}
.gig-price-container .price {
  font-size: 50px;
  line-height: 25px;
  position: relative;
  padding: 10px;
}
.gig-price-container .price:hover {
  color: #006837;
  cursor: pointer;
}
.gig-price-container .price::before {
  content: "$";
  font-size: 16px;
  top: 10%;
  position: absolute;
  top: 26%;
  left: 0%;
}
.register-btn {
  margin-left: 10px;
}
.mini_profile_pic {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  border: 1px solid black;
}
.clickable_link:hover {
  cursor: pointer;
  color: #006837;
}
.carousel .thumb img {
  width: 100% !important;
  height: 100% !important;
}

.carousel .slide img {
  max-height: 400px; /* change this to whatever you want */
  width: auto;
}
.home-searchbar {
  width: 500px !important;
}
.order-detail-heading {
  font-weight: bold;
  color: #95979d;
}
.order-detail-value {
  font-weight: bold;
  color: rgba(50, 102, 78, 0.76);
}
.order-status-badge-progress {
  background-color: rgb(64, 64, 236);
  text-align: center;
  color: #fafafa;
  padding: 1% 3%;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}
.order-status-badge-delivered {
  background-color: #006837;
  text-align: center;
  color: #fafafa;
  padding: 1% 3%;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.order-status-badge-completed {
  background-color: #006837;
  text-align: center;
  color: #fafafa;
  padding: 1% 3%;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.order-status-badge-overdue {
  background-color: #ff0000;
  text-align: center;
  color: #fafafa;
  padding: 1% 3%;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.box-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media (max-width: 767.98px) {
  .home-searchbar {
    width: 100% !important;
  }
  .register-btn {
    margin-left: 0px;
    margin-top: 10px;
  }
  .search-bar {
    width: 100%;
  }
  .search-green-btn {
    width: 50%;
  }
  .search-box {
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
  }

  .section-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section-text {
    padding-left: 10px;
  }
  .vh-md-100 {
    height: 100% !important;
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .promotional-hero-link {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 15px;
  }
}
@media (max-width: 1200px) {
  .vh-md-100 {
    height: 100% !important;
    display: flex !important;
    justify-content: start !important;
    align-items: start !important;
    flex-direction: column !important;
  }
}
@media (max-width: 499px) {
  .searched-items {
    display: none;
  }
  .login-image-container {
    display: none;
  }
  .tip-box {
    margin-top: 2% !important;
  }
}

@media (min-width: 1024px) {
  .home-section {
    padding-left: 7em !important;
    padding-right: 7em !important;
  }
}
