.profile-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 160px;
  box-sizing: border-box;
}
.profile-picture-container {
  height: 100%;
  width: 100%;
  border-radius: 49.9%;
}
.profile-picture {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
}
.level1-badge {
  height: 28px;
  width: 85px;
  background-color: purple;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 33px !important;
  left: 0px;
  border-bottom-right-radius: 10px;
}

.level2-badge {
  height: 28px;
  width: 85px;
  background-color: brown;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 33px !important;
  left: 0px;
  border-bottom-right-radius: 10px;
}

.verified-badge {
  height: 28px;
  width: 85px;
  background-color: #1c9cea;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 35px;
  left: 0px;
  border-bottom-right-radius: 10px;
}
.unverified-badge {
  height: 28px;
  width: 85px;
  background-color: #eaa91c;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 35px;
  left: 0px;
  border-bottom-right-radius: 10px;
}

.editprofile-badge {
  height: 28px;
  width: 85px;
  background-color: green;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 70px;
  left: 0px;
  border-bottom-right-radius: 10px;
  transition: all 0.3s ease;
}

.editprofile-badge:hover {
  cursor: pointer;
  width: 90px;
  background-color: rgb(1, 95, 1);
}

.editprofiletext {
  font-size: 0.86em;
}

.social-icon {
  transition: all 0.3s ease-in;
  color: rgba(0, 0, 0, 0.5);
}
.social-icon:hover {
  color: #000;
}
